* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 38%, 92%);
}

.card-container {
  width: 600px;
  height: 450px;
  display: flex;
}

.img-container,
.text-container {
  flex-basis: 50%;
}

.img-container {
  background-image: url('../images/image-product-desktop.jpg');
  background-size: cover;
  border-radius: 10px 0 0 10px;
}

.text-container {
  background-color: #ffffff;
  border-radius: 0px 10px 10px 0;
}